html{
    scroll-behavior: smooth;
}
body{
    background: #28384c;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand{
    color: #d5a021;
}
.navbar-dark .navbar-brand{
    font-family: 'Montserrat' !important ;
    letter-spacing: 5px;
    font-size: 1.1rem;
    font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-family: 'Source Sans Pro' !important ;
    margin-left: 20px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white !important;
}
.bg-dark{
    background: #274060 !important;
}
section{
    min-height: 91.5vh;
}
#landing{
    padding-top: 15%;
    color: white;
}
#landing span{
    color: #d5a021;
}
#landing h1{
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 20px;
}
#landing p{
    font-size: 1.2rem;
    color: #85a0c2;
    letter-spacing: .15rem;
    font-family: 'Source Sans Pro';
    margin-bottom:25px;
}
.btn-outline-light{
    border-color: white;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
}
.btn-outline-light:hover{
    background-color: white;
    border-color: white;
    color: #28384c;
}
#about{
    padding-top: 5%;
    min-height: 55vh;
    background: white;
}
#about h1{
    color: #d5a021;
    font-family: 'Montserrat';
    font-weight: bold;
}
#about p{
    margin-top: 35px;
    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
}
#landing a{
}
@media (max-width: 576px) { 
    .navbar-dark .navbar-brand{
        font-size: .8rem;
    }

    #landing{
        padding-top: 25%;
    }
    #about{
        min-height:80vh;
    }
}