html{
    scroll-behavior: smooth;
}
body{
    background: #212121;
    font-family: 'Roboto', sans-serif !important;
    padding-top: 70px;
    color: white;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand{
    color: #fbfbfb !important;
    
}
.navbar-dark .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 400;
    margin-left: 20px;
    transition: .3s;
}
.navbar-brand {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.5s linear;
}

.bg-dark{
    background: #2C2C2C !important;
}

#landing{
    min-height: 91vh;
    padding-top: 13%;
 
}
#landing h1{
    font-size: 4.5rem;
    margin-bottom: 20px;
}
#landing h2{
    font-size: 2.6rem;
    letter-spacing: .15rem;
    margin-bottom:25px;
}
.btn1{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
margin-top: 2%;
border-radius: 0px;
color: #FFFFFF;
font-size: 23px;
font-weight: 100;
padding: 10px;
background-color: #0D7377;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
transition: 0.3s;
}
.btn1:hover{
    text-decoration: none;
    color: white;
}
.btn2{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-top: 2%;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 100;
    padding: 10px;
    background-color:#23AD97;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.btn2:hover{
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 700;
    color: #fff;
}
i{
    color: white;
    font-size: 4rem;
    margin: 10px 0 ;
}
.btnWeb{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-top: 2%;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    background-color: #0D7377;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.5s linear;
    }
.btnWeb:hover{
    text-decoration: none;
    color: white;
}

.btnCode{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-top: 2%;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    background-color: #23AD97;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.5s linear;
    }
.btnCode:hover{
    text-decoration: none;
    color: white;
}
hr{
    border: 2px solid #0D7377;
}
#projects{
    padding-top: 1.2rem;
}
.tools{
    font-size: 1.3rem;
}
#contact{
    margin-top: 5rem;
}
.contact-btn{
    background: #0D7377;
    color: white;
}
a{
    color: white !important;
}
a:hover{
    text-decoration: none;
}
.contact-buttons{
    margin-top: 5rem;
}