body{
    padding-top: 70px;
}
section{
    min-height: 85vh;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    margin-left: 50px;
    font-size: 1.2rem;
}
.navbar-light{
    background: transparent;
}
.navbar-light .navbar-brand{
    font-size: 1.8rem;
}
#landing{
    padding-top: 13%;
    color: black;
}
#landing h1,h4{
    margin-bottom: 35px;
    font-weight: 100;
}
.btn-outline-secondary{
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}
.btn-outline-secondary:hover{
    background: black;
    color: white;
}